@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

#clock-container {
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat center;
    background-size: 80%;
}

#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 0.7%;
    height: 19%;
    top: 31%;
    left: 49.6%;

}

#minute {
    width: 0.7%;
    height: 22%;
    top: 28%;
    left: 49.6%;




}

#second {
    width: 0.7%;
    height: 25%;
    top: 25%;
    left: 49.6%;
}

h1{
    text-align: center;
    background-color: black;
    color: white;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}